.footer {
    width: 100%;
    background: linear-gradient(135deg, #3b0038, #5e0063, #50164b);
    color: white;
    padding: 20px 0;
    margin-top: auto;
    
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.footer-content p {
    font-size: 14px;
    color: #e5e5e5;
}

.footer-content span {
    color: #ffffff;
    font-weight: 500;
}

.footer-icons {
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

.footer-icons a {
    color: white;
    font-size: 22px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-icons a:hover {
    color: #00ff7b;
    transform: scale(1.2);
}

.footer-copy {
    font-size: 13px;
    color: #cfcfcf;
    margin-top: 5px;
}

@media (max-width: 600px) {
    .footer-content p {
        font-size: 13px;
    }

    .footer-icons a {
        font-size: 20px;
    }
}

