* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  padding-top: 60px;
}

#root {
  display: flex;
  flex-direction: column;
}

.page-content {
  padding-top: 60px;
  min-height: calc(100vh - 60px);
}